/*.myTable {
    border-collapse: collapse;
    table-layout: fixed;
}*/

th {
    text-align: left;
}

input {
    width: 300px;
}

.container {
    margin-top: 15px;
}

.button-primary {
    width: 150px;
}

p {
    margin-bottom: 10px;
}